@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

:root {
  --primaryHue: 252;
  --dark-color-lightness: 17%;
  --light-color-lightness: 95%;
  --white-color-lightness: 100%;
  
  --color-primary: hsl(var(--primaryHue), 75%, 60%);
  --color-secondary: hsl(252, 100%, 90%);
  --color-danger: hsl(0, 95%, 65%);
  --color-success: hsl(120, 95%, 65%);
  --color-white: hsl(252, 30%, var(--white-color-lightness));
  --color-gray: hsl(var(--primaryHue), 15%, 65%);
  --color-dark: hsl(var(--primaryHue), 30%, var(--dark-color-lightness));
  --color-black: hsl(252, 30%, 10%);
  --color-light: hsl(252, 30%, var(--light-color-lightness));

  --card-border-radius: 1rem;
  --border-radius: 2rem;
  --btn-padding: 0.6rem 2rem;
  --card-padding: 1rem;
  --search-padding: 0.6rem 1rem;

  --sticky-top-left: 5.4rem;
  --sticky-top-right: -18rem;

}


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  appearance: none;
  text-decoration: none;
  list-style: none;
  border: none;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--color-dark);
  background: var(--color-light);
  overflow-x: hidden;
}


/* ===== General Styles ===== */
.container {
  width: 80%;
  margin: 0 auto;
}

.btn,
.btnn {
  display: inline-block;
  padding: var(--btn-padding);
  border-radius: var(--border-radius);
  font-weight: 500;
  cursor: pointer;
  font-size: .9rem;
  transition: all 0.3s ease;
}

.btn:hover {
  opacity: .8;
}

.btn-primary {
  background: var(--color-primary);
  color: white;
}

.btnn-primary {
  background: var(--color-light);
  /* border: 2px solid var(--color-primary); */
}

.text-bold {
  font-weight: 500;
}

.text-muted {
  color: var(--color-gray);
}

/* ===== Nav ===== */
nav {
  width: 100%;
  background: var(--color-white);
  padding: 0.7rem 0;
  position: fixed;
  top: 0;
  z-index: 10;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-white);
}

nav .container .search-bar {
  background: var(--color-light);
  padding: var(--search-padding);
  border-radius: var(--border-radius);
}

nav .container .search-bar input {
  width: 30vw;
  height: 1rem;
  background: transparent;
  margin-left: 1rem;
  color: var(--color-dark);
}

nav .container .search-bar input::placeholder {
  color: var(--color-gray);
}

nav .container .search-bar input::placeholder {
  color: var(--color-dark);
}

nav .container .create-profile {
  display: flex;
  gap: 2rem;
  align-items: center;
}

/* ===== Main ===== */
main {
  position: relative;
  top: 5.8rem;
}

main .container {
  display: grid;
  grid-template-columns: 18vw auto 20vw;
  gap: 2rem;
}

/* ----- Main Left Starts ----- */

main .container .left {
  display: flex;
  flex-direction: column;
  gap: .6rem;
  height: max-content;
  position: sticky;
  top: var(--sticky-top-left);
}

main .container .left .profile-info {
  display: flex;
  gap: 1rem;
  background-color: var(--color-white);
  padding: var(--card-padding);
  border-radius: .8rem;
  width: 100%;
  cursor: pointer;
}

main .container .left .profile-info h4 {
  font-weight: 600;
}

main .container .left .profile-info p {
  color: var(--color-gray);
  font-size: 0.88rem;
}


main .container .left .sidebar {
  background-color: var(--color-white);
  display: grid;
  gap: .4rem;
  border-radius: .8rem;
  cursor: pointer;
  position: relative;
  z-index: 200;
}

main .container .left .sidebar .sidebar-link {
  display: flex;
  align-items: center;
  padding: 1rem 1rem 1rem 2rem;
  gap: 2rem;
  transition: all 200ms ease;
  z-index: 200;
}

main .container .left .sidebar .sidebar-link.active {
  color: var(--color-primary);
}

main .container .left .sidebar .sidebar-link i {
  position: relative;
}

main .container .left .sidebar .sidebar-link i small {
  position: absolute;
  top: -.6rem;
  left: 0.3rem;
  font-size: .5rem;
  background: var(--color-danger);
  color: var(--color-white);
  padding: .2rem .4rem;
  border-radius: .4rem;
}

main .container .left .sidebar .sidebar-link:hover {
  background: var(--color-light);
  padding-left: 2.4rem;
  color: var(--color-primary);
}

main .container .left .sidebar .sidebar-link:first-child:hover {
  border-top-left-radius: .8rem;
  border-top-right-radius: .8rem;
}

main .container .left .sidebar .sidebar-link:last-child:hover {
  border-bottom-left-radius: .8rem;
  border-bottom-right-radius: .8rem;
}

main .container .left .sidebar .sidebar-link h4 {
  font-weight: 600;
}

main .container .left .create-post label {
  width: 100%;
  text-align: center;
  cursor: pointer;
}

/* Notification Popup */
main .container .left .sidebar #notification {
  position: relative;
}

main .container .left .sidebar #notification .popup {
  position: absolute;
  top: 0;
  left: 110%;
  background: var(--color-white);
  width: 28rem;
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  display: grid;
  gap: 1rem;
  box-shadow: 0 0 4rem -2rem var(--color-primary);
  color: var(--color-dark);
  z-index: 200;
}

main .container .left .sidebar #notification .popup.active {
  display: none;
}

main .container .left .sidebar #notification .popup .popup-details {
  display: flex;
  gap: 1rem;
}

main .container .left .sidebar #notification .popup .popup-details small {
  color: var(--color-gray);
}

/* ----- Main Left Ends ----- */

/* ----- Main Middle Starts ----- */
main .container .middle {
  display: grid;
  padding: 0;
  gap: 1rem;
  z-index: -2;
}

main .container .middle .stories {
  display: flex;
  gap: 1rem;
  width: 100%;
  cursor: pointer;
}

main .container .middle .stories .story {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--card-padding);
  height: 12rem;
  border-radius: var(--border-radius);
  width: 100%;
  color: var(--color-white);
  position: relative;
  overflow: hidden;
}

main .container .middle .stories .story small {
  z-index: 2;
}

main .container .middle .stories .story::before {
  content: "";
  display: block;
  width: 100%;
  height: 5rem;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.872));
  position: absolute;
  bottom: 0;
  left: 0;
}

main .container .middle .stories .story img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 2px solid var(--color-primary);
  object-fit: cover;
}

main .container .middle .stories .story:nth-child(1) {
  background: url('./images/c.jpg');
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  object-position: center;
}

main .container .middle .stories .story:nth-child(2) {
  background: url('./images/e.jpg');
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  object-position: center;
}

main .container .middle .stories .story:nth-child(3) {
  background: url('./images/d.jpg');
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  object-position: center;
}

main .container .middle .stories .story:nth-child(4) {
  background: url('./images/a.jpg');
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  object-position: center;
}

main .container .middle .stories .story:nth-child(5) {
  background: url('./images/f.jpg');
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  object-position: center;
}

/* ----- Main Middle Ends ----- */

main .container .middle .post {
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-between;
  padding: 0.4rem 0.8rem;
  color: var(--color-dark);
  border-radius: var(--border-radius);
}

main .container .middle .post img {
  width: 2.5rem;
}

main .container .middle .post input {
  width: 100%;
  background: transparent;
}

main .container .middle .post input::placeholder {
  color: var(--color-gray);
}

main .container .middle .post .img-input {
  display: flex;
  gap: 1rem;
  width: 100%;
}

main .container .middle .feeds {
  border-radius: var(--border-radius);
}

main .container .middle .feeds .feed {
  /* width: 100%; */
  background: var(--color-white);
  border-radius: var(--border-radius);
  padding: var(--card-padding);
  margin-bottom: 1.2rem;
}

main .container .middle .feeds .feed .feeds-img-text-icon {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

main .container .middle .feeds .feed .feeds-img-text-icon .feeds-text-img {
  display: flex;
  gap: .8rem;
  align-items: center;
  cursor: pointer;
}

main .container .middle .feeds .feed .feeds-img-text-icon .feeds-text small {
  color: var(--color-gray);
  font-size: .8rem;
}

main .container .middle .feeds .feed .feeds-img-text-icon .ellipsis {
  cursor: pointer;
}

main .container .middle .feeds .feed .feed-icon {
  display: flex;
  justify-content: space-between;
  padding: 0.4rem .8rem;
  font-size: 1.3rem;
  cursor: pointer;
  color: var(--color-primary);
  font-size: 1.4rem;
  margin-bottom: .8rem;
}

main .container .middle .feeds .feed .feed-icon .fa--icon {
  margin-right: .6rem;
}

main .container .middle .feeds .feed-img {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  /* display: inline-block; */
}

main .container .middle .feeds .feed-img img {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  transition: all 1.1s ease;
}

main .container .middle .feeds .feed-img:hover img {
  transform: scale(1.1);
  background-size: cover;
}


main .container .middle .feeds .feed .feed-bottom {
  display: grid;
}

main .container .middle .feeds .feed .feed-bottom .feed-bottom-img-text {
  display: flex;
  gap: .6rem;
  align-items: center;
  padding-left: 1rem;
}

main .container .middle .feeds .feed .feed-bottom .feed-bottom-img-text img {
  width: 1.8rem;
  margin-left: -1rem;
  border: 2px solid var(--color-white);
  border-radius: 50%;
}

main .container .middle .feeds .feed .feed-bottom .feed-bottom-img-text span {
  font-weight: 600;
}

main .container .middle .feeds .feed .feed-bottom .feed-bottom-texxt small {
  color: var(--color-gray);
}

main .container .middle .feeds .feed .feed-bottom .feed-bottom-texxt span {
  font-weight: 600;
}

main .container .right {
  height: max-content;
  position: sticky;
  top: var(--sticky-top-right);
}

main .container .right .messages {
  display: grid;
  gap: 1rem;
  background: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  margin-bottom: 2rem;
}

main .container .right .messages .message-edit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-dark);
}

main .container .right .messages .message-edit .edit {
  cursor: pointer;
}

main .container .right .messages .message-search {
  background: var(--color-light);
  padding: var(--search-padding);
  border-radius: var(--border-radius);
}

main .container .right .messages .message-search input {
  height: 1rem;
  background: transparent;
  margin-left: 1rem;
  color: var(--color-dark);
}

main .container .right .messages .message-title {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

main .container .right .messages .message-title h5 {
  border-bottom: .3rem solid var(--color-light);
}

main .container .right .messages .message-title h5:hover {
  cursor: pointer;
}

main .container .right .messages .message-title h5.active {
  border-color: var(--color-primary);
  color: var(--color-primary);
}

main .container .right .messages .message-list {
  display: grid;
  gap: 1.4rem;
}

main .container .right .messages .message-list .mess {
  display: flex;
  gap: 1rem;
}

main .container .right .messages .message-list .mess .upper {
  font-size: 1rem;
  font-weight: 600;
}

main .container .right .messages .message-list .mess .lower {
  color: var(--color-gray);
  font-size: .9rem;
}


main .container .right .requests {
  display: grid;
  gap: 1rem;
  /* margin-bottom: 2rem; */
}

main .container .right .requests h4 {
  color: var(--color-gray);
}

main .container .right .requests .img-text-btn {
  background: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  position: relative;
}

main .container .right .requests .img-text-btn .cancel {
  position: absolute;
  right: 1rem;
  cursor: pointer;
}

main .container .right .requests .img-text-btn .img-text {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

main .container .right .requests .img-text-btn .img-text .textt p {
  font-size: .9rem;
}

/* ===== Theme Customization ===== */
main .modal {
  background: rgba(0, 0, 0, 0.493);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
  position: fixed;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
}

main .modal.active {
  display: none;
}

main .modal .customize-content {
  background-color: var(--color-white);
  padding: 4rem 6rem;
  border-radius: var(--card-border-radius);
  width: 100%;
  position: relative;
}

main .modal .customize-content .canceel {
  position: absolute;
  top: 1.4rem;
  right: 2rem;
  cursor: pointer;
}

main .modal .customize-content .text {
  margin-bottom: 3rem;
}

main .modal .customize-content .text p {
  color: var(--color-gray);
}

main .modal .customize-content .font-size {
  display: grid;
  gap: 1rem;
  width: 100%;
  margin-bottom: 2rem;
}

main .modal .customize-content .font-size .sizes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--color-light);
  padding: 1rem;
  border-radius: var(--border-radius);
}

main .modal .customize-content .font-size .sizes .pick-size {
  background: var(--color-secondary);
  height: .4rem;
  width: 80%;
  border-radius: var(--border-radius);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main .modal .customize-content .font-size .sizes .pick-size span {
  background: var(--color-secondary);
  width: .75rem;
  height: .75rem;
  border-radius: 50%;
  cursor: pointer;
}

main .modal .customize-content .font-size .sizes .pick-size span.active {
  background: var(--color-primary);
}

main .modal .customize-content .color-theme {
  display: grid;
  gap: .8rem;
  margin-bottom: 2rem;
}

main .modal .customize-content .colors {
  background: var(--color-light);
  height: 1rem;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--border-radius);
}

main .modal .customize-content .colors span.active {
  border: 2px solid var(--color-white);
}

main .modal .customize-content .colors span:nth-child(1) {
  width: 1.2rem;
  height: 1.2rem;
  background: hsl(252, 75%, 60%);
  border-radius: 50%;
  cursor: pointer;
}

main .modal .customize-content .colors span:nth-child(2) {
  width: 1.2rem;
  height: 1.2rem;
  background: hsl(327, 75%, 60%);
  border-radius: 50%;
  cursor: pointer;
}

main .modal .customize-content .colors span:nth-child(3) {
  width: 1.2rem;
  height: 1.2rem;
  background: hsl(55, 75%, 60%);
  border-radius: 50%;
  cursor: pointer;
}

main .modal .customize-content .colors span:nth-child(4) {
  width: 1.2rem;
  height: 1.2rem;
  background: hsl(196, 75%, 60%);
  border-radius: 50%;
  cursor: pointer;
}

main .modal .customize-content .colors span:nth-child(5) {
  width: 1.2rem;
  height: 1.2rem;
  background: hsl(21, 75%, 60%);
  border-radius: 50%;
  cursor: pointer;
}

main .modal .customize-content .background {
  display: grid;
  gap: .8rem;
}

main .modal .customize-content .background .bg {
  display: flex;
  justify-content: space-between;
}

main .modal .customize-content .background .bg .bg-1,
main .modal .customize-content .background .bg .bg-2,
main .modal .customize-content .background .bg .bg-3 {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: .6rem 1rem;
  border-radius: var(--border-radius);
  cursor: pointer;
}

main .modal .customize-content .background .bg .ring {
  width: 1.2rem;
  height: 1.2rem;
  border: 2px solid black;
  border-radius: 50%;
}

main .modal .customize-content .background .bg .bg-1 {
  background: var(--color-white);
  border: 2px solid var(--color-primary);
  color: black;
}

main .modal .customize-content .background .bg .bg-2 {
  background: hsl(252, 30%, 17%);
  color: white;
  /* border: 2px solid var(--color-primary); */
}

main .modal .customize-content .background .bg .bg-3 {
  background: hsl(252, 30%, 10%);
  color: white;
}

main .modal .customize-content .background .bg .one {
  border: 2px solid var(--color-gray);
}

/* ===== media Queries ===== */

@media (max-width:1200px) {
  .container {
    width: 96%;
    margin: 0 auto;
  }

  main .container {
    display: grid;
    grid-template-columns: 5rem auto 30vw;
    gap: 2rem;
  }

  main .container .left .profile-info,
  main .container .left .create-post {
    display: none;
  }

  main .container .left .sidebar h4 {
    display: none;
  }
}

@media (max-width:900px) {
  nav .container .search-bar {
    display: none;
  }

  .container {
    width: 96%;
    margin: 0 auto;
  }

  main .container {
    display: grid;
    grid-template-columns: 5rem auto 0;
    gap: 1rem;
  }

  main .container .right {
    display: none;
  }
}

@media (max-width:600px) {

  .container {
    width: 96%;
    margin: 0 auto;
  }

  nav .container .create-profile label {
    display: none;
  }

  main .container .logo {
    font-size: .4rem;
  }

  main .container {
    display: grid;
    grid-template-columns: auto;
    position: relative;
    font-size: .8rem;
  }

  main .container .left {
    /* position: absolute; */
    background: var(--color-white);
    border-radius: var(--border-radius);
    right: 1rem;
    bottom: 4rem;
    position: fixed;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.242);
  }

  main .container .middle .stories {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  main .container .middle .stories .story:nth-child(3),
  main .container .middle .stories .story:nth-child(4),
  main .container .middle .stories .story:nth-child(5) {
    display: none;
  }

  main .container .middle .feeds .feed .feed-bottom .feed-bottom-img-text img {
    width: 1.2rem;
    margin-left: -0.6rem;
  }

  main .container .left .sidebar #notification .popup {
    left: -19rem;
    width: 18rem;
  }

  main .container .left .sidebar #notification .popup .popup-details .profile-photo img {
    width: 2rem;
  }

  main .modal .customize-content {
    width: 90vw;
    padding: 1.4rem 1rem;
  }

  main .modal .customize-content .text h2 {
    font-size: 1.2rem;
    width: 100%;
  }

  main .modal .customize-content .text {
    font-size: .85rem;
  }

  main .modal .customize-content .canceel {
    font-size: 1.4rem;
    top: .8rem;
    right: 1.2rem;
  }
}